/************* Reset Styles *************/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
}

body {
    line-height: 1;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display: block;
}

nav ul {
    list-style: none;
}

blockquote,q {
    quotes: none;
}

blockquote:before,blockquote:after,q:before,q:after {
    content: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
}

ins {
    color: #000;
    text-decoration: none;
}

mark {
    color: #000;
    font-style: italic;
    font-weight: 700;
}

del {
    text-decoration: line-through;
}

abbr[title],dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

input,select {
    vertical-align: middle;
}

/************* Helper Styles *************/
.text-white {
    color: #fff;
}

.vhq {
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
}

.left-mrv {
    float: left;
}

.vix {
    float: right;
}

.vih {
    display: none !important;
}

.vig {
    width: 100% !important;
}

[contenteditable],.voh {
    outline: 1px solid rgba(0,0,0,0) !important;
    transition: outline-color .3s ease;
}

[contenteditable]:hover,.voh:hover {
    outline: 1px solid rgba(0,0,0,0.15) !important;
}

.imagebg:not(.image--light) [contenteditable]:hover {
    outline: 1px solid rgba(255,255,255,0.15) !important;
}

.vdw.vog {
    outline: none !important;
}

.vdw.vog * {
    outline: none !important;
}

.mail-list-form {
    display: none !important;
}

.vaz {
    display: none !important;
}

.ui-sortable div,.vjd > li {
    cursor: move;
}

.voz {
    cursor: default !important;
}

.subnav {
    cursor: pointer;
}

.vje {
    background-color: #eee;
    outline: 1px dashed #ccc;
    display: inline-block;
    float: left !important;
    border-radius: 10px;
    opacity: 0.7;
    width: 100%;
}

.ui-sortable,.vnz {
    transition: none !important;
    -moz-transition: none !important;
    -webkit-transition: none !important;
}

body [contenteditable] {
    cursor: text;
}

.vba {
    opacity: 0 !important;
}

/*   Allows hovering on email-forms to edit the success and failure messages.   */
.email-form:hover .form-success,.email-form:hover .form-error {
    opacity: 1 !important;
    display: block !important;
}

.vle {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.viu .btn {
    -webkit-user-select: text !important;
}

.vqg {
    opacity: 0.5;
    cursor: not-allowed !important;
}

/************* Icon Styles *************/
.vaa:before,.vaa span.vhz:before,.vca:before,.vly:before,.vly:after,.vma:after {
    font-family: 'Icons';
    display: inline-block;
    speak: none;
    line-height: 1;
    vertical-align: baseline;
    font-weight: 400;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/************* Structure Styles *************/
.vhv {
    overflow: hidden;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.vjc {
    opacity: 1;
    width: 48px;
    height: 100%;
    position: fixed;
    left: 0;
    color: #666;
    font-size: 15px;
    z-index: 200;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);
    opacity: 1;
    z-index: 9999999;
}

.vjc ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

.vjc p,.vjc span {
    letter-spacing: 0;
}

@media all and (max-height: 800px) {
    .vjc {
        font-size: 13px;
    }
}

.viu {
    padding-left: 48px;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0;
    background: #eee;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    overflow-y: scroll;
}

.vjc,.vin,.vjq,.vhe,.vjr,.vnk span,.vnk p, .vlw label {
    font-family: 'Roboto',"Helvetica Neue","Helvetica",Helvetica,"Arimo",Arial,sans-serif !important;
}

.vjc p,.vjc span,.vin span,.vin p {
    font-family: 'Roboto',"Helvetica Neue","Helvetica",Helvetica,"Arimo",Arial,sans-serif !important;
}

/************* Button Styles *************/
.vhs {
    display: inline-block;
    text-align: center;
    font-size: 13px;
    font-weight: 500;
    cursor: pointer;
    height: 32px;
    line-height: 32px;
    text-transform: uppercase;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.vhm {
    text-align: center;
    width: 320px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    margin: 0 auto;
}

.vhe {
    display: inline-block;
    width: 100%;
    height: 180px;
    padding: 12px;
    font-size: 20px;
    font-weight: 400;
    color: #aaa;
    border: 1px dashed #aaa;
    margin-bottom: 32px;
    cursor: pointer;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
}

.vhe span {
    display: block;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
}

.vhe:last-child {
    margin-bottom: 0;
}

.vhe:hover {
    background: rgba(255,255,255,0.4);
}

/************* Sidebar Styles *************/
.vkm {
    background: #e9ecf1;
    height: 100%;
    position: absolute;
    margin-left: 48px;
    overflow: hidden;
    width: 288px;
    top: 0;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    transform: translateX(-288px);
    -webkit-transform: translateX(-288px);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);
    opacity: 0;
}

.vkm.vkl {
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
}

.vjc:hover .vkm {
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    opacity: .99;
}

.vgx {
    height: 100%;
    width: 288px;
    overflow: hidden;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    position: absolute;
    top: 0;
}

.vll {
    position: absolute;
    bottom: 0;
    left: 0;
}

.vlv,.vlo,.vmb {
    position: absolute;
    top: 0;
    width: 288px;
    float: left;
    height: 100%;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -webkit-backface-visibility: hidden;
}

.vlp {
    opacity: 0;
    z-index: -1;
}

.vlp.vhr {
    opacity: 1 !important;
    z-index: 1;
}

.vlf {
    width: 48px;
    overflow: hidden;
    background: #2b2b2b;
    height: 100%;
    line-height: 48px;
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2);
    position: relative;
    z-index: 99;
    position: relative;
}

.vlf li {
    height: 48px;
    line-height: 55px;
    text-align: center;
    cursor: pointer;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    color: #fff;
    opacity: .6;
}

.vlf .oi {
    font-size: 20px;
    color: #fff;
}

.vlf li.vhr {
    opacity: 1;
    background: #4c4c4c;
}

.vlf li:hover {
    opacity: 1;
}

@media all and (max-height: 800px) {
    .vlf .oi {
        font-size: 18px;
    }
}

.vlq {
    height: 64px;
    line-height: 64px;
    font-size: 15px;
    font-weight: 500;
    color: #333;
    padding: 0 32px;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    text-transform: capitalize;
}

@media all and (max-height: 800px) {
    .vlq {
        height: 48px;
        line-height: 48px;
    }
}

.vlw {
    margin: 0 16px;
    height: auto;
    line-height: 48px;
    position: relative;
    padding: 0 16px;
    background: #fff;
    margin-bottom: 32px;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    overflow: hidden;
}

.vlw:first-child{
    margin-top: 16px;
}

.vlw input{
    padding: 0 !important;
    margin: 0 !important;
    height: auto !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    min-width: 100%;
    border-bottom: 1px solid #eee !important;
    color: #666 !important;
    background: none !important;
    border-left: none !important;
    border-right: none !important;
    border-top: none !important;
    font-family: 'Roboto', 'Helvetica' !important;
    transition: all .3s ease;
}

.vlw input:focus{
    border-bottom: 1px solid #60A0B3 !important;
    border-left: none !important;
    border-right: none !important;
    border-top: none !important;
    outline: none !important;
}

.vlw label{
    margin: 0;
    text-transform: none;
    letter-spacing: 0;
    font-size: 12px;
    display: block;
    opacity: .5;
    line-height: 1;
    font-weight: 400 !important;
}

.vlw input:focus{
    box-shadow: none;
}

.vlw .oi {
    font-size: 18px;
    margin-top: 3px;
    float: right;
    position: absolute;
}

@media all and (max-height: 800px) {
    .vlw {
        height: 32px;
        line-height: 32px;
        margin-bottom: 16px;
    }
}

.vmd {
    background: #fff;
    width: 100%;
    padding: 16px 0;
    position: relative;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
}

.empty-vmd:before {
    content: 'NO STYLE OPTIONS';
    font-size: 12px;
    font-weight: 500;
    position: absolute;
    width: 100%;
    top: 50%;
    text-align: center;
    color: #333;
    opacity: .4;
    margin-top: -6px;
}

@media all and (max-height: 800px) {
    .vmd {
        padding: 8px 0;
    }
}

.sidebar-padding {
    padding: 24px;
    display: inline-block;
}

.vjz,.vka,.vme,.vkc {
    opacity: .99 !important;
    transform: translateX(0px) !important;
    -webkit-transform: translateX(0px) !important;
    -moz-transform: translateX(0px) !important;
}

.vgu {
    padding: 11px 24px;
    position: relative;
    overflow: hidden;
    opacity: .7;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
}

.vgu:hover {
    opacity: 1;
    background: #383E47;
}

.vgu .variant-pen {
    float: right;
    cursor: pointer;
    position: relative;
    top: 2px;
}

.vfp {
    cursor: pointer;
    cursor: pointer;
    transform: rotate(0deg);
}

.vho {
    padding: 0 32px;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    overflow: hidden;
}

.vho:after {
    font-size: 10px;
    opacity: .8;
    float: right;
    position: relative;
    top: -22px;
    content: '\e034';
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
}

.vho.vhr:after{
    opacity: 0;
}

.vho span {
    position: relative;
    cursor: pointer;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
}

.vly {
    display: block;
    height: 40px;
    line-height: 40px;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    cursor: pointer;
    max-width: 190px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

}

.vly:before {
    font-size: 16px;
    margin-right: 16px;
    position: relative;
    top: 2px;
}

@media all and (max-height: 800px) {
    .vly {
        height: 32px;
        line-height: 32px;
    }

    .vly:before {
        font-size: 15px;
        top: 3px;
    }

    .vly:after {
        font-size: 10px;
        top: 11px;
    }
}

.vly + ul li > span:first-child{
    max-width: 170px;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
    overflow: hidden;
}

.vho ul {
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    max-height: 0;
}

.vho li {
    height: 40px;
    line-height: 40px;
    padding-left: 34px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    font-family: 'Roboto',"Helvetica Neue","Helvetica",Helvetica,"Arimo",Arial,sans-serif !important;
}

.vho li:first-child {
}

.vho li:hover {
    color: #60A0B3;
}

.vho.vhr .vly {
    color: #60A0B3;
}

.vho.vhr .vly .oi[data-glyph="chevron-bottom"]:before {
    content: '\e037';
}

.vho.vhr ul {
    max-height: 800px;
}

.vho.vhr .vfn {
    margin-bottom: 16px;
}

@media all and (max-height: 800px) {
    .vho li {
        height: 32px;
        line-height: 32px;
    }
}

.vby,.vbx {
    float: right;
    height: 40px;
    line-height: 40px;
    font-size: 13px;
    color: #b71a1a;
    cursor: pointer;
}

@media all and (max-height: 800px) {
    .vby, .vbx {
        line-height: 32px;
        height: 32px;
    }
}

.vho li:hover .vby,.vho li:hover .vbx {
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
}

.vay {
    overflow-y: auto !important;
}

.vho .vax {
    float: left;
    height: 12px;
}

.vay span {
    margin: 0;
    padding: 0;
    display: none;
}

.vay li {
    margin-bottom: 16px;
    padding-left: 32px !important;
    height: 12px;
}

.vac, .vpt {
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    z-index: 99;
    text-align: center;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background: #60A0B3;
    color: #fff;
    line-height: 60px;
    cursor: pointer;
    position: absolute;
    bottom: -32px;
    right: 32px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);
}

.vpt{
    position: relative;
    right: auto;
    bottom: 32px;
    left: 192px;
}

.vpt:active{
    background: #548493;
}

.vac span {
    display: inline-block;
    margin-left: 1px;
    margin-top: 1px;
}

.vac span:before, .vpt:before {
    content: '+';
    font-size: 32px;
    font-weight: 400;
}



.vem {
    width: 100%;
    overflow-y: auto;
    min-height: 128px;
    margin-top: 16px;
    padding: 16px 0;
    border-top: 1px solid rgba(0,0,0,0.12);
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    position: relative;
}

.vem.empty-vem:before {
    content: 'NO BLOCKS ADDED';
    font-size: 12px;
    font-weight: 500;
    position: absolute;
    width: 100%;
    top: 50%;
    text-align: center;
    color: #333;
    opacity: .4;
    margin-top: -6px;
}

.vaa {
    cursor: move;
    padding: 0 32px;
    position: relative;
    height: 40px;
    line-height: 40px;
    overflow-x: hidden;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
}

.vaa:before {
    content: '\e071';
    position: relative;
    bottom: 14px;
    margin-right: 16px;
    opacity: .5;
}

.vaa span {
    font-size: 15px;
}

.vab {
    display: inline-block;
    max-width: 170px;
    overflow: hidden;
}

.vab span {
    text-overflow: ellipsis;
    cursor: text;
    padding-right: 8px;
    -webkit-user-select: text !important;
    -khtml-user-select: text !important;
    -moz-user-select: text !important;
}

@media all and (max-height: 800px) {
    .vaa {
        height: 32px;
        line-height: 32px;
    }

    .vaa:before {
        bottom: 12px;
    }

    .vaa span {
        font-size: 13px;
    }
}

.vaa span.vhz:before {
    content: '\e048';
    margin-right: 16px;
    display: inline-block;
    position: relative;
    top: 2px;
}

.vaa span.vir:before {
    content: '';
}

.vaa span:focus {
    z-index: 9999;
}

.vca {
    position: absolute;
    right: 36px;
    height: 40px;
    width: 15px;
    line-height: 40px;
    top: 0;
    font-size: 13px;
    text-align: right;
    cursor: pointer;
    transform: translateX(100px);
    -webkit-transform: translateX(100px);
    -moz-transform: translateX(100px);
}

.vca:before {
    content: '\e0db';
    font-size: 13px;
    color: #b71a1a;
}

.vaa:hover .vca {
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
}

.vmf {
    transform: translate3d(0,-257px,0);
    -webkit-transform: translate3d(0,-257px,0);
}

.vmf .vem {
    padding-bottom: 0;
    min-height: 120px !important;
    max-height: 120px !important;
    border-color: #fff !important;
}

.vmf .vem:hover {
    max-height: 500px !important;
}

.vmf .vad {
    opacity: 1 !important;
}

.vmf .vls {
    transform: translate3d(0,257px,0);
    -webkit-transform: translate3d(0,257px,0);
    box-shadow: 0 0 48px 48px #e9ecf1;
    z-index: 999;
}

.vmf .vac {
    transform: rotate(44deg) scale(0.7);
    -webkit-transform: rotate(44deg) scale(0.7);
    background: #b71a1a;
}

.vmf .vac span {
    position: relative;
    right: 0;
}

.vmf .vad:before {
    width: 0;
    height: 0;
}

.vmf .vgm {
    transform: translate3d(0,0px,0);
    -webkit-transform: translate3d(0,0px,0);
}

.vmf .vgr {
    display: none;
}

@media all and (max-height: 800px) {
    .vmf {
        transform: translate3d(0,-185px,0);
        -webkit-transform: translate3d(0,-185px,0);
    }

    .vmf .vls {
        transform: translate3d(0,185px,0);
        -webkit-transform: translate3d(0,185px,0);
    }
}

.vls {
    background: #e9ecf1;
    width: 288px;
    line-height: 48px;
    height: 48px;
    position: absolute;
    bottom: 0;
    z-index: 99;
    text-align: center;
    opacity: 1;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -webkit-backface-visibility: hidden;
}

.vlm,.vgw {
    width: 48px;
    text-align: center;
    height: 48px;
    line-height: 48px;
    font-size: 18px;
    color: #fff;
    opacity: .5;
    top: 0;
    cursor: pointer;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
}

.vlm:hover,.vgw:hover {
    opacity: 1;
}

.vgw.vmg {
    opacity: 1;
}

.vgw.vmg .oi:before {
    content: '\e08a';
}

.vdq {
    display: inline-block;
    color: #333;
    height: 48px;
    line-height: 48px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
}

.vgr,.vdv {
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 16px;
    margin-left: 32px;
    cursor: pointer;
    height: 16px;
    line-height: 16px;
    opacity: .4;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    position: absolute;
    z-index: 99;
}

.vgr .oi,.vdv .oi {
    position: relative;
    top: 1px;
}

.vgr:hover {
    opacity: 1;
}

.vgr.vhr,.vdv.vhr {
    opacity: 1;
}

.vlo .vgc {
    margin-left: 32px;
}

.vlo .ved {
    float: right;
    margin-right: 32px;
}

.vlo .vlt {
    font-size: 15px;
    color: #333;
    font-weight: 500;
    text-transform: uppercase;
    height: 48px;
    line-height: 48px;
    cursor: pointer;
}

.vlo .vlt .oi {
    font-size: 10px;
    position: relative;
    margin-left: 4px;
}

.vlu {
    position: absolute;
    width: 152px;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.16),0 2px 5px 0 rgba(0,0,0,0.26);
    margin-left: 76px;
    z-index: 101;
    bottom: 44px;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    transform: scale(0);
    opacity: 0;
}

.vlt:hover .vlu {
    transform: scale(1);
    opacity: 1;
}

.vlu .vhs {
    color: #666;
    width: 100%;
    height: 48px;
    line-height: 48px;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
}

.vlu .vhs:hover {
    color: #60A0B3;
}

/************* Modal Styles *************/
.vpm{
  height: 6px;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 999999999;
  overflow: hidden;
  pointer-events: none;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
}

.vpm:before{
  display: block;
  position: absolute;
  content: "";
  left: -25%;
  width: 25%;
  height: 5px;
  background-color: #60A0B3;
  animation: loadingbar 3s linear infinite;
  -webkit-animation: loadingbar 3s linear infinite;
}

@keyframes loadingbar {
    from {left: -25%;}
    to {left: 125%; width: 50%; }
}
@-webkit-keyframes loadingbar {
    from {left: -25%;}
    to {left: 125%; width: 50%; }
}

.vjq {
    display: none;
    width: 350px;
    background: rgba(47,52,60,0.9);
    height: 100%;
    overflow: hidden;
    position: absolute;
    left: 250px;
    border-left: 1px solid rgba(255,255,255,0.2);
    font-size: 14px;
    transform: translateX(-600px);
    -webkit-transform: translateX(-600px);
    -moz-transform: translateX(-600px);
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    z-index: 100;
}

.vhn {
    padding-top: 24px;
    border-top: 1px solid rgba(255,255,255,0.2);
}

.vhn .vhs {
    margin-bottom: 24px;
}

.vfw {
    max-height: 400px;
    overflow-y: auto;
    min-height: 128px;
}

.empty-vfw:before {
    content: 'NO SAVED PAGES';
    font-size: 12px;
    font-weight: 500;
    position: absolute;
    width: 100%;
    top: 50%;
    text-align: center;
    color: #333;
    opacity: .4;
    margin-top: -9px;
}

.ves {
    height: 40px;
    line-height: 40px;
    padding: 0 32px;
    cursor: pointer;
}

.ves.vqb .vfx{
    font-weight: bold;
}

@media all and (max-height: 800px) {
    .ves {
        height: 32px;
        line-height: 32px;
    }
}

.vef {
    display: none !important;
    width: 0;
    height: 0;
    overflow: hidden;
}

.vbz,.vdj,.vpy {
    cursor: pointer;
}

.vdj {
    float: left;
    margin-right: 16px;
    position: relative;
    top: 4px;
    font-size: 18px;
    color: #60A0B3;
}

.vbz {
    float: right;
    font-size: 13px;
    color: #b71a1a;
    display: none;
}

.vpy {
    margin-right: 10px;
    float: right;
    font-size: 13px;
    color: #ccc;
    display: none;
}

.ves:hover .vbz, .ves:hover .vpy {
    display: block;
}

.vfx {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 130px;
    white-space: nowrap;
}

input[type="file"] {
    margin: 0 !important;
}

input[class*='-mrv']{
    text-align: left;
}

form[name*='mrv']{
    padding: 0;
}

.vad {
    opacity: 0;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    position: relative;
}

.vad:before {
    content: '';
    width: 100%;
    height: 100%;
    z-index: 10;
    cursor: default;
    position: absolute;
}

.vlz {
    height: 48px;
    position: relative;
    width: 100%;
    text-align: center;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);
    z-index: 101;
    background: #60A0B3;
}

.vma {
    font-weight: 500;
    font-size: 15px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    height: 48px;
    line-height: 48px;
    cursor: pointer;
    color: #fff;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
}

.vma:after {
    content: '\e02d';
    font-size: 10px;
}

.vma.vhr,.vma:hover {
    color: #fff;
}

.vgi {
    position: absolute;
    width: 271px;
    background: #fff;
    overflow: hidden;
    top: 48px;
    z-index: 101;
    margin-left: 8px;
    border-radius: 2px;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.16),0 2px 5px 0 rgba(0,0,0,0.26);
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    transform: scale(0);
    -webkit-transform: scale(0);
    opacity: 0;
}

.vgh {
    width: 50%;
    float: left;
    height: 40px;
    line-height: 40px;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    text-transform: capitalize;
    text-align: left;
    padding-left: 32px;
    cursor: pointer;
}

.vgh.vhr {
    color: #60A0B3;
}

.vgh:hover {
    color: #60A0B3;
}

.vgi.vhr {
    transform: scale(1);
    -webkit-transform: scale(1);
    opacity: 1;
}

@media all and (max-height: 800px) {
    .vgh {
        height: 32px;
        line-height: 32px;
    }
}

.vgm {
    height: 0;
    overflow-y: auto;
    overflow-x: hidden;
    transform: translate3d(0,200px,0);
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
}

.vgl {
    cursor: pointer;
    margin: 16px 32px 0;
    position: relative;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    overflow: hidden;
}

.vgl:first-child {
    margin-top: 32px;
}

.vgl:last-child {
    margin-bottom: 60px;
}

.vgl .vjl {
    display: block;
    width: 100%;
    color: #fff;
    background: #333;
    padding: 8px 16px;
    font-size: 13px;
}

.vgl img {
    width: 100%;
    margin-bottom: 0;
}

.vgl .vgj {
    right: 0;
    height: 25px;
    width: auto;
    position: absolute;
    bottom: 8px;
    right: 5px;
}

.vgl.vih {
    display: block !important;
    height: 0 !important;
    margin-top: 0;
}

.vgq {
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
}

.vds {
    width: 400px;
}

.vdo {
    width: 455px;
}

.vcw,.vde {
    width: 288px;
}

.vcl {
    width: 592px;
}

.vin {
    letter-spacing: 0 !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #fff;
    display: none;
    transition: opacity .5s ease;
    -webkit-transition: opacity .5s ease;
    -moz-transition: opacity .5s ease;
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2);
}

.vin span,.vin p {
    letter-spacing: 0 !important;
}

.vin a {
    color: #60A0B3;
}

.vin .vfa {
    cursor: move;
    padding: 0 24px;
    color: #333;
    font-weight: 500;
    font-size: 18px;
    position: relative;
    height: 64px;
    line-height: 64px;
}

.vin .vew {
    padding: 0 24px;
}

.vin .vew textarea{
    border-radius: 0;
    padding: 16px;
    background: #f9f9f9;
}

.vin input[type="text"]:focus,.vin input[type="text"]:active {
    outline: none !important;
    border-bottom: 1px solid rgba(0,0,0,.3);
}

.vin input[type="text"] {
    font-family: 'Roboto','Helvetica',sans-serif;
    border-radius: 0 !important;
    background: none !important;
    max-width: 100% !important;
    height: 32px;
    border-bottom: 1px solid rgba(0,0,0,.3);
    line-height: 32px;
    font-size: 14px;
    margin-bottom: 0;
    font-weight: 400;
    text-transform: none;
    letter-spacing: 0;
    width: auto;
}

.vin select {
    background: none;
    width: auto;
    font-family: 'Roboto','Helvetica',sans-serif;
}

.vin select:focus,.vin select:active {
    background: none;
}

.vew p {
    font-size: 15px;
    line-height: 24px;
}

.vew p:last-child {
}

.vin input::-webkit-input-placeholder {
    font-weight: 400;
    font-size: 14px;
    text-transform: none;
    letter-spacing: 0;
}

.vin input:-moz-input-placeholder {
    font-weight: 400;
    font-size: 14px;
    text-transform: none;
    letter-spacing: 0;
}

.vin input::-moz-input-placeholder {
    font-weight: 400;
    font-size: 14px;
    text-transform: none;
    letter-spacing: 0;
}

.vin input::-ms-input-placeholder {
    font-weight: 400;
    font-size: 14px;
    text-transform: none;
    letter-spacing: 0;
}

.vez {
    box-sizing: border-box !important;
    box-shadow: none !important;
    border-right: none;
    border-left: none;
    border-top: none;
}

.vez:focus {
    outline: none;
}

.vjp {
    height: 48px;
    line-height: 48px;
    overflow: hidden;
    clear: both;
    padding: 0 24px;
    text-align: right;
}

.vjp .vhs {
    display: inline-block;
    height: 48px;
    line-height: 48px;
    margin-left: 24px;
    color: #60A0B3;
}

.vej {
    overflow: hidden;
    margin-bottom: 16px;
    position: relative;
}

.vej span:first-child {
    display: block;
    height: 32px;
    line-height: 32px;
}

.vej .oi {
    color: #333;
    font-size: 15px;
    float: left;
    position: relative;
    top: 7px;
}

.vej input[type="text"] {
    width: 90%;
    font-size: 14px;
    height: 32px;
    line-height: 32px;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,0.12);
    padding-left: 32px;
    position: relative;
    right: 24px;
    color: rgba(0,0,0,0.4);
    margin-bottom: 0;
}

.vej input[type="text"]:focus {
    color: #333;
    outline: none;
    border-bottom: 1px solid rgba(0,0,0,0.12);
}

.vej .vja {
    padding: 4px 0;
    height: 32px;
    line-height: 32px;
    border-radius: 0;
    margin-left: 8px;
}

.vej:last-child {
    margin-bottom: 0;
}

.veh {
    margin-left: 0 !important;
    max-width: 208px;
}

.vcl {
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transform: translateY(0px);
}

.vcl.vhr {
    transform: translateY(-184px);
    -webkit-transform: translateY(-184px);
}

.vcl.vhr .vhp {
    transform: scale(0.7) rotate(44deg);
    -webkit-transform: scale(0.7) rotate(44deg);
    background: #b71a1a;
}

.vcl.vhr .vhp .oi:before {
    opacity: 0;
}

.vcl.vhr .vhp .oi:after {
    content: '+';
    font-size: 32px;
    position: relative;
    right: 9px;
    bottom: 2px;
}

.vcl .vew {
    position: relative;
    z-index: 2;
    background: #fff;
}

.vcl .vjp {
    padding: 0;
}

.vea .vey:first-child {
    width: 45%;
}

.vea .vey {
    width: 55%;
}

.vhp {
    position: absolute;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background: #60A0B3;
    cursor: pointer;
    right: 36px;
    top: -32px;
    color: #fff;
    font-size: 20px;
    line-height: 69px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
}

.vey {
    float: left;
}

#simplemodal-container {
    height: auto !important;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.simplemodal-container,.simplemodal-overlay {
    opacity: 0;
    transition: opacity .3s ease;
    -webkit-transition: opacity .3s ease;
}

.simplemodal-container.vko {
    opacity: 1 !important;
}

.simplemodal-overlay.vko {
    opacity: .4 !important;
}

.vcm {
    padding-left: 24px;
    text-align: center;
    cursor: pointer;
}

.vcm .veb {
    font-size: 13px;
}

.vcp {
    max-height: 220px;
    max-width: 100%;
    background: url(../img/checkerboard.png);
}

.vch {
    width: 0;
    height: 0;
    overflow: hidden;
}

.veb {
    display: block;
    height: 24px;
    line-height: 24px;
    text-align: left;
}

.vdz {
    width: 100%;
    z-index: -1;
    position: absolute;
    padding: 0 24px;
    background: #60A0B3;
    height: auto;
    overflow: hidden;
    visibility: hidden;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    opacity: 0;
    transform: translateY(-250px);
    -webkit-transform: translateY(-250px);
}

.vdz.vhr {
    opacity: 1;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    visibility: visible;
}

.vdz .vhs {
    height: 48px;
    line-height: 48px;
    color: #fff;
    float: right;
}

.vdx {
    height: 319px;
    overflow: hidden;
    overflow-y: scroll;
    box-shadow: inset 0 -10px 10px -10px rgba(0,0,0,0.26);
}

.vdy {
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-bottom: 11px;
    background: url(../img/checkerboard.png);
}

.vdy img {
    max-height: 100%;
    cursor: pointer;
    margin: 0;
}

.vdy.no-image {
    background-image: none !important;
    background-color: #D74B4B;
    color: #fff !important;
    cursor: pointer;
    padding: 12px;
    line-height: 20px;
}

.vec {
    position: absolute;
    z-index: 2;
    bottom: 8px;
    right: 8px;
    color: #fff;
    font-weight: 700;
    font-size: 12px;
    text-shadow: 1px 1px 2px #333;
}

.vmh {
    float: left;
    width: 32%;
    margin-top: 24px;
}

.vmh:nth-child(2) {
    margin-right: 2%;
    margin-left: 2%;
}

.vcd {
    width: 656px;
}

.vok {
    margin-bottom: 32px !important;
}

.vox {
    position: relative;
    display: inline-block;
}

.vox input[type="text"] {
    padding-left: 32px;
}

.vox .oi {
    position: absolute;
    top: 6px;
}

.vol {
    position: relative;
    bottom: 10px;
    margin-left: 16px;
}

.vce {
    overflow: hidden;
    max-height: 500px;
}

.vce.variant-scroll-shadow-mrv {
    box-shadow: inset 0 -10px 10px -10px rgba(0,0,0,0.26);
}

.vce.variant-filtered-mrv {
    overflow-y: auto;
}

.vam {
    width: 50px;
    height: 50px;
    margin: 0 10px 10px 0;
    font-size: 28px;
    text-align: center;
    float: left;
    cursor: pointer;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    line-height: 48px;
    overflow: hidden;
}

.vam:hover {
    color: #333;
}

.vam .icon {
    font-size: 32px;
}

.vam span.vor {
    font-size: 13px;
}

.variant-filtered-mrv .vam {
    width: 30%;
    padding-left: 16px;
    text-align: left;
}

.variant-filtered-mrv .vam .icon {
    font-size: 32px;
    width: 32px;
}

.variant-filtered-mrv .vam span.vor {
    font-size: 13px;
    padding-left: 16px;
}

.voj {
    position: relative;
}

.voj:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: #ddd;
    bottom: -14px;
    left: 0;
}

.voj li {
    display: inline-block;
    font-size: 14px;
    padding: 8px;
    cursor: pointer;
    position: relative;
    line-height: 100%;
}

.voj li.vhr span,.voj span:hover {
    border-bottom: 2px solid #60A0B3;
    color: #60A0B3;
    z-index: 100;
    line-height: 1.8;
}

.voj span {
    text-transform: uppercase;
    padding: 0 16px 16px;
    font-weight: 500;
    position: relative;
    line-height: 1.8;
}

.voj {
    height: 32px;
    width: 100%;
}

.variant-filtered-mrv .voj {
    display: none;
}

.vou {
    width: 100%;
    display: none;
    height: 24px;
    overflow: hidden;
    margin: 32px 8px 8px;
}

.vou.vhr {
    display: block;
}

.vov {
    overflow-y: scroll;
    max-height: 410px;
    display: none;
}

.vov.vhr,.icon-pack-info-mrv.vhr {
    display: block;
}

.vot {
    display: none;
}

.variant-filtered-mrv .vot {
    display: inline-block;
    font-weight: 700;
}

.variant-filtered-mrv .vov {
    overflow-y: none;
    max-height: 100000px;
    display: block;
}

.variant-filtered-mrv .vov.vhr,.variant-filtered-mrv .vou.vhr,.variant-filtered-mrv .vou {
    display: block;
}

.vce .vow {
    font-size: 16px;
}

.vdr {
    width: 592px;
}

.vft {
    width: 100%;
    height: 420px;
    overflow: auto;
    border: 1px solid #ccc;
}

.vfu {
    max-width: none;
    width: 2000px;
    box-sizing: border-box;
    height: 420px;
    margin: 0;
    background: none;
    border: none;
    box-shadow: none;
    font-size: 12px;
    font-family: 'Courier New';
    line-height: 18px;
    border-radius: 0;
}

.vfu:focus {
    outline: none;
}

.vgy {
    margin-left: 24px;
}

.global-vfr {
    background: #2b2b2b;
    padding: 24px;
    text-align: center;
}

.global-vfr img {
    max-width: 160px;
}

.global-vfr img:last-of-type {
    max-height: 40px;
}

.global-vfr .vew {
    margin: 32px 0;
}

.global-vfr .vhs {
    width: 50%;
    height: 48px;
    line-height: 48px;
    color: #fff;
    opacity: .7;
}

.global-vfr .vhs:hover {
    opacity: 1;
}

/************* Context Menu Styles *************/
.vjr {
    position: fixed !important;
    display: none;
    z-index: 999999 !important;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.16),0 2px 5px 0 rgba(0,0,0,0.26);
    border-radius: 0 0 2px 2px;
}

.vau {
    text-align: left;
    height: 48px;
    line-height: 48px;
    background: #60A0B3;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    padding: 0 16px;
    border-radius: 2px 2px 0 0;
}

.vnl {
    text-align: left;
    height: 48px;
    line-height: 48px;
    background: #60A0B3;
    color: #fff !important;
    font-size: 15px;
    font-weight: 500;
    padding: 0 16px;
    border-radius: 2px 2px 0 0;
}

.vaw {
    text-align: left;
    padding: 0 32px 0 16px;
    height: 48px;
    line-height: 48px;
    background-color: #fff;
    font-size: 15px;
    border-top: 1px solid #ccc;
    min-width: 150px;
    color: #666;
    transition: all .3s ease;
}

.vav:hover {
    cursor: pointer;
    color: #60A0B3;
}

.vjr li.vmk {
    font-size: 14px;
    display: block;
    min-width: 200px;
    background-color: #fff;
    padding: 0 16px;
    height: 48px;
    line-height: 48px;
    color: #666;
    border-top: 1px solid #ccc;
}

.vjr li.vmk span.oi {
    margin-right: 6px;
}

.vjr li.vmk span:nth-of-type(2) {
    margin-right: 16px;
}

.vjr li.vmk .vkt {
    top: 16px;
}

.vkz span:not(.oi) {
    font-family: 'Roboto',Helvetica,Arial,sans-serif !important;
}

ul.vnc,ul.context {
    margin-bottom: 0;
}

.vho:after,.vct:before,.vcg:before,.vdc:before,.vcc:before,.veg:before,.vbt:before,.vas:before,.vcb:before,.var:before,.vbw:before,.vdh:before,.vgk:before,.vqh:before,.vqi:before {
    font-family: 'Icons';
    display: inline-block;
    speak: none;
    line-height: 1;
    vertical-align: baseline;
    font-weight: 400;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-right: 8px;
}

.vct:before {
    content: '\e086';
}

.vcg:before {
    content: '\e079';
}

.vdc:before {
    content: '\e0d4';
}

.vcc:before {
    content: '\e0c2';
}

.veg:before {
    content: '\e061';
}

.vbt:before {
    content: '\e062';
}

.vas:before {
    content: '\e0a4';
}

.vcb:before {
    content: '\e017';
}

.var:before {
    content: '\e0a4';
}

.vbw:before {
    content: '\e017';
}

.vdh:before {
    content: '\e0a3';
}

.vqh:before {
    content: '\e02f';
}

.vqi:before {
    content: '\e02e';
}

/************* Context Menu Styles *************/
.vib {
    display: none !important;
}

.vjb {
    opacity: .5;
    border: 1px solid #e26060;
}

/************* Optional Class Styles *************/
.vky {
    width: 100%;
    overflow: hidden;
    border-radius: 2px;
}

.vks {
    cursor: pointer;
    width: 50%;
    color: #fff;
    background-color: rgba(255,255,255,0.1);
    float: left;
    display: inline-block;
    text-align: center;
}

.vks:nth-child(1) {
    border-radius: 2px 0 0 2px;
}

.vks:nth-child(2) {
    border-radius: 0 2px 2px 0;
}

.vks.vkr,.vks.vkr:hover {
    color: #fff;
    background-color: #3498db;
}

.vks:hover {
    color: #fff;
    background-color: rgba(255,255,255,0.2);
    transition: .5s all;
}

.vkz {
    width: 100%;
    cursor: default;
}

.vkz .oi {
    margin-right: 16px;
    position: relative;
    top: 3px;
    font-size: 18px;
}

.vkz span {
    font-family: 'Roboto';
}

.vkt {
    width: 32px;
    display: inline-block;
    float: right;
    line-height: 16px;
    height: 16px;
    position: relative;
    z-index: 2;
    top: 13px;
    cursor: pointer;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
}

.vkt:before {
    left: 0;
    height: 8px;
    width: 32px;
    border-radius: 4px;
    background: #999;
    content: '';
    position: relative;
    top: 5px;
    position: absolute;
    z-index: 0;
}

.vmi {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.16),0 2px 5px 0 rgba(0,0,0,0.26);
    position: relative;
    z-index: 2;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
}

.vku:before {
    background: #92bdb5;
}

.vku .vmi {
    background: #60A0B3;
    transform: translateX(16px);
    -webkit-transform: translateX(16px);
}

@media all and (max-height: 800px) {
    .vkt {
        top: 8px;
    }
}

.vmj {
    width: 100%;
    overflow: hidden;
    border-radius: 2px;
}

.vkv:first-child {
    border-radius: 2px 2px 0 0;
}

.vkv:last-child {
    border-radius: 0 0 2px 2px;
}

.vkv {
    cursor: pointer;
    width: 100%;
    color: #fff;
    background-color: rgba(255,255,255,0.1);
    display: inline-block;
    text-align: center;
}

.vkv.vkw,.vkv.vkw:hover {
    color: #fff;
    background-color: #3498db;
}

.vkv:hover {
    color: #fff;
    background-color: rgba(255,255,255,0.2);
    transition: .5s all;
}

.vmk {
    padding: 0 32px;
    height: 40px;
    line-height: 40px;
}

@media all and (max-height: 800px) {
    .vmk {
        height: 32px;
        line-height: 32px;
    }
}

.vms li {
    height: auto;
    padding: 24px 0 0;
    transition: all .3s ease;
    opacity: .5;
}

.vms li.vhr,.vms li:hover {
    opacity: 1;
}

.vmv {
    padding-left: 30px !important;
}

.vmv img {
    max-height: 24px;
}

.vmv img:first-child:nth-last-child(2),.vmv img:last-child:nth-child(2) {
    display: block;
    max-height: 24px;
    margin: 0;
}

.vmv img:last-child:nth-child(2) {
    opacity: .7;
}

/************* Template Specific Style Fixes *************/
/** PIVOT **/
.main-container {
    opacity: 1 !important;
}

nav {
    opacity: 1 !important;
}

/************* Parallax for Background-image-holders **************/
.parallax .background-image-holder {
    top: 0;
}

.parallax > .background-image-holder,.parallax .slides li > .background-image-holder {
    height: 100vh;
    top: 0;
    transition: all 0 ease !important;
}

/************* Embedded Videos *************/
.vju:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 80%;
    z-index: 2;
    background: none;
    opacity: 0;
    width: 100%;
}

/************* Purchase Link *************/
.vml {
    font-family: 'Roboto',"Helvetica Neue","Helvetica",Helvetica,"Arimo",Arial,sans-serif !important;
    display: block;
    position: absolute;
    bottom: 32px;
    right: 32px;
    z-index: 9999;
    display: inline-block;
    color: #fff;
    height: 48px;
    width: 144px;
    text-align: center;
    background: #6dc77a;
    line-height: 48px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
    opacity: .9;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);
    text-decoration: none;
}

.vml:hover {
    opacity: 1;
    color: #fff;
}

.vml:active,.vml:visited {
    color: #fff;
    text-decoration: none;
}

/************* Section Controls *************/
.vnj {
    width: 40px;
    position: absolute;
    display: block;
    z-index: 9999999;
    transition: all .2s ease;
    animation: fadeIn .3s ease;
    -webkit-animation: fadeIn .3s ease;
    background: #222;
    border-radius: 800px;
    text-align: center;
    border: 1px solid #444;
    max-height: 48px;
}

.vnj:empty{
    display: none;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.vnj.vhr {
    opacity: 1;
}

.vnj .vdw,.vnj.vdw,.vnj li .vdw,.vnj span .vdw {
    outline: none !important;
}

.vnj .vmk {
    padding: 0 32px 0 16px;
    text-align: left;
}

.vnj .vnc {
    position: absolute;
    right: 0;
    color: #666;
    font-size: 14px;
    background: #fff;
    z-index: 1000 !important;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.16),0 2px 5px 0 rgba(0,0,0,0.26);
    border-radius: 2px;
    min-width: 230px;
}

.vnj > ul {
    margin: 0;
    display: inline-block;
    overflow: hidden;
}

.vnj > ul > li:first-child:last-child {
    width: 100%;
}

.vnj .vnv{
    background: none;
    font-size: 16px;
    height: 50px;
    line-height: 42px;
    width: 32px;
}

.vni,.vnj .vno {
    text-align: center !important;
    margin: 0 4px;
    font-size: 18px;
    line-height: 32px;
    padding-top: 4px;
    background: rgba(35,35,35,0.85);
    color: #fff;
    text-align: center;
    border-radius: 50%;
    height: 40px;
    width: 32px;
    float: right;
    display: block;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    opacity: .6;
    cursor: pointer;
}

.vni {
    margin-right: 0;
    padding-top: 3px;
}

.vni:hover,.vnj .vno:hover {
    opacity: 1;
}

.vni.vhr {
    opacity: 1;
}

.vni ul {
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    opacity: 0;
    transform: scale(0);
    -webkit-transform: scale(0);
    visibility: hidden;
    margin: 0 !important;
    padding: 0 !important;
}

.vnj .vni,.vnj .vno {
    background: none;
    font-size: 16px;
    height: 50px;
    line-height: 42px;
    width: 32px;
}

.vni.vhr ul {
    opacity: 1;
    transform: scale(1);
    -webkit-transform: scale(1);
    visibility: visible;
}

.vni ul li {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.vnm.oi {
    font-family: 'Icons' !important;
}

.vnj .vnp {
    display: none;
}

.vnk .vnl {
    display: block;
}

.vnk {
    margin: 0 !important;
}

.vnk ul {
    color: #666;
    font-size: 14px;
}

.vnk li {
    margin: 0 !important;
}

.vnk ul li span,.vnk ul li i {
    color: #666 !important;
}

.elemen-context-options-mrv li {
    margin: 0 !important;
}

.main-container {
    position: relative;
}

/************* Slider Controls *************/
div.slider.vpd {
    transform: translate(0px,-50px);
}

div.slider.vpd ul.slides {
    padding-top: 50px;
}

ul.slides.vpd {
    transform: translate(0px,-50px);
}

.slider[data-items]:not([data-items="1"]) li:not(:hover) .vnw{ display: none !important; }
.slider[data-items]:not([data-items="1"]) li [data-glyph="arrow-thick-left"],
.slider[data-items]:not([data-items="1"]) li [data-glyph="arrow-thick-right"]{ display: none !important; }
.slider[data-items]:not([data-items="1"]) .vob,
.slider[data-items]:not([data-items="1"]) .voc{
    top: 50%;
    transform: translateX(0) translateY(-50%);
    -webkit-transform: translateX(0) translateY(-50%);
    max-width: 50px;
}
.slider[data-items]:not([data-items="1"]) .vob{
    left: 24px;
}
.slider[data-items]:not([data-items="1"]) .voc{
    right: 24px;
    left: auto;
}

/************* General Option Buttons (round icon button) *************/
.vnv.vdw,.vnw.vdw,.vnu.vdw {
    outline: none !important;
}

.vnv {
    cursor: pointer !important;
    display: inline-block;
    text-align: center !important;
    margin: 0 4px !important;
    font-size: 12px;
    line-height: 32px;
    padding-top: 4px;
    background: #222;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    opacity: .6;
    cursor: pointer;
    pointer-events: all;
}

.vnv:hover {
    opacity: 1;
}

.vnu {
    position: relative;
    display: inline-block;
    max-width: 100%;
}

.vnu img {
    width: 100%;
    margin: 0;
    padding: 0;
}

.vnw {
    height: 46px;
    width: 100%;
    line-height: 1;
    top: -28px;
    margin: 0 !important;
    text-align: center;
    display: block !important;
    position: absolute;
    padding: 10px;
    animation: fadeIn .3s ease;
    -webkit-animation: fadeIn .3s ease;
    z-index: 999 !important;
    white-space: nowrap;
}

.slider .vnw {
    top: 8px;
    width: auto;
    background: #222;
    border-radius: 200px;
    padding: 4px 8px 0 !important;
    border: 1px solid #444;
    animation: none !important;
    left: 50%;
    transform: translateX(-50%);
}

.slider .vnw .vnv {
    font-size: 10px;
    width: 24px;
}

.vny {
    transform: translate(0px,-50px);
    padding: 0;
    margin: 0;
}

.voh .vnw {
    padding: 4px 8px 0 !important;
    width: auto;
    text-align: left;
    border-radius: 200px;
    background: #222;
}

.voh .vnw:after {
    content: '\25E2';
    color: #222;
    position: absolute;
    font-size: 10px;
    bottom: -4px;
    left: 20px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.voh .vnw .vnv {
    font-size: 10px;
    width: 24px;
}

/************* Google Maps API *************/
.map-canvas {
    background: url(../img/requires-maps-api-key.png) repeat;
}

/************* Variant Page Interactions *************/
.vpf {
    opacity: 0;
    animation: fadein .6s ease forwards;
}

@keyframes fadein {
    0% {
        opacity: 0;
        transform: scale(.7) translateX(-100%);
    }

    70% {
        transform: scale(.7);
    }

    100% {
        opacity: 1;
        transform: scale(1) translateX(0);
    }
}

/************* Notification Styles *************/

.variant-notification-container-mrv{
    position: fixed;
    z-index: 999999999;
    bottom: 32px;
    left: 0;
    width: 100%;
    text-align: center;
    overflow: hidden;
    color: #fff;
    font-family: 'Roboto',"Helvetica Neue","Helvetica",Helvetica,"Arimo",Arial,sans-serif !important;
}

@keyframes popup{
    from{ transform: translateY(100%); }
    to{ transform: translateY(0); }
}

.variant-notification-mrv{
    animation: popup .3s ease forwards;
    -webkit-animation: popup .3s ease forwards;
    position: relative;
}

.variant-notification-mrv .oi, .variant-notification-mrv span:last-child{
    padding: 24px;
    background: #ad0002;
    display: inline-block;
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2);
}

.variant-notification-mrv .oi{
    background: #BD0006;
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2);
}

.variant-notification-mrv.success .oi, .variant-notification-mrv.success span:last-child{
    background: #6DC77A;
}

.variant-notification-mrv.success .oi{
    background: #6DC77A;
}
